@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "acier";
  src: url("../public/fonts/acier-text-gris.ttf");
}

@font-face {
  font-family: "acier-solid";
  src: url("../public/fonts/acier-text-solid.ttf");
}

a {
  display: block;
}

/* Chrome, Safari, Edge, Opera */
.selectQuantity input::-webkit-outer-spin-button,
.selectQuantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.selectQuantity input[type="number"] {
  -moz-appearance: textfield;
}

.text-7rem {
  font-size: clamp(1.4rem, 5vw, 5.5rem);
  line-height: clamp(1.5rem, 5vw, 5rem);
}

.text-6rem {
  font-size: clamp(1.4rem, 4vw, 5rem);
  line-height: clamp(1.5rem, 4vw, 5rem);
}

.text-5rem {
  font-size: clamp(1.4rem, 3vw, 5rem);
  line-height: clamp(1.5rem, 3.2vw, 5rem);
}
.text-4rem {
  font-size: clamp(1.4rem, 2.7vw, 5rem);
  line-height: clamp(1.5rem, 3vw, 5rem);
}

.text-3rem {
  font-size: clamp(1.4rem, 2.2vw, 5rem);
  line-height: clamp(1.5rem, 2.5vw, 5rem);
}

.text-2rem {
  font-size: clamp(1.4rem, 1.75vw, 5rem);
  line-height: clamp(1.5rem, 2vw, 5rem);
}

.text-1rem {
  font-size: clamp(1.4rem, 1.5vw, 5rem);
  line-height: clamp(1.5rem, 2.2vw, 5rem);
}

.text-0rem {
  font-size: clamp(1.4rem, 2vw, 5rem);
  line-height: clamp(1.5rem, 2.2vw, 5rem);
}

/* Payment Form  */

.form-radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-print-color-adjust: exact;
          color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  flex-shrink: 0;
  border-radius: 100%;
  border-width: 2px;
}

.form-radio:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media not print {
  .form-radio::-ms-check {
    border-width: 1px;
    color: transparent;
    background: inherit;
    border-color: inherit;
    border-radius: inherit;
  }
}

.form-radio:focus {
  outline: none;
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3e%3cpath d='M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z'/%3e%3c/svg%3e");
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-print-color-adjust: exact;
          color-adjust: exact;
  background-repeat: no-repeat;
  padding-top: 0.5rem;
  padding-right: 2.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-position: right 0.5rem center;
  background-size: 1.5em 1.5em;
}

.form-select::-ms-expand {
  color: #a0aec0;
  border: none;
}

@media not print {
  .form-select::-ms-expand {
    display: none;
  }
}

@media print and (-ms-high-contrast: active), print and (-ms-high-contrast: none) {
  .form-select {
    padding-right: 0.75rem;
  }
}