@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "acier";
    src: url("../public/fonts/acier-text-gris.ttf");
  }

  @font-face {
    font-family: "acier-solid";
    src: url("../public/fonts/acier-text-solid.ttf");
  }
  